* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
}

.background {
  position: relative;
  width: 100%;
  height: 100vh;
  color: #ffffff;
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/background-por-2.jpg");
  background-size: cover;
  background-position: center;
  filter: brightness(50%);
  z-index: -10;
}
