* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
  background-color: #fff;
}

.code {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-btn {
  color: #fff;
  padding: 15px 25px;
  background-color: #38d2d2;
  background-image: radial-gradient(
      93% 87% at 87% 89%,
      rgba(0, 0, 0, 0.23) 0%,
      transparent 86.18%
    ),
    radial-gradient(
      66% 66% at 26% 20%,
      rgba(255, 255, 255, 0.55) 0%,
      rgba(255, 255, 255, 0) 69.79%,
      rgba(255, 255, 255, 0) 100%
    );
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25),
    inset 0px 3px 9px rgba(255, 255, 255, 0.3),
    inset 0px 1px 1px rgba(255, 255, 255, 0.6),
    inset 0px -8px 36px rgba(0, 0, 0, 0.3),
    inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  border-radius: 1.4rem;
  font-weight: bold;
  font-size: 1.6rem;

  border: 0;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  transition: all 0.2s ease-in;
  white-space: nowrap;
}

.main-btn:hover {
  background-color: #e67e22;
  color: #fff;
}

/*******************************************/
/* Header */
/*******************************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  height: 8rem;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/*******************************************/
/* Hero Section
/*******************************************/

.section-hero {
  background-color: #e0f9fa;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
  padding: 0 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-image {
  width: 100%;
}

.delivered {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 4rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: red;
  font-weight: 700;
}

.cookies-box {
  max-width: 60rem;
  position: fixed;
  background-color: #add8e6;
  color: #fff;
  padding: 2.4rem 3.2rem;
  border-radius: 9px;
  top: 70%;
  right: 2%;
  z-index: 9999;
}

.cookies-box h2 {
  font-size: 2.4rem;
  margin-bottom: 1.8rem;
  position: relative;
  font-weight: bold;
}

.cookies-box p {
  font-size: 1.8rem;
  line-height: 1.4;
}

.circle-close {
  position: absolute;
  top: 8%;
  right: 5%;
  font-size: 3.2rem;
  cursor: pointer;
}

/*******************************************/
/*  How it works 
/*******************************************/

.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
}

.step-img-box::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}

.step-img {
  width: 90%;
}

/*******************************************/
/*  Meals section
/*******************************************/

.section-info {
  padding: 9.6rem 0;
}

.info {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 1.1rem;
  overflow: hidden;
  transition: all 0.4s;
}

.info:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.info-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.info-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.tag--turbo {
  background-color: #51cf66;
}

.tag--rs {
  background-color: #94d82d;
}

.tag--pal {
  background-color: #ffd43b;
}

.info-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.info-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.info-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.info-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #78cfd1;
}

.info-img {
  width: 100%;
}

.see-all {
  text-align: center;
  font-size: 1.8rem;
}

/*******************************************/
/*  Pricing Section
/*******************************************/

.section-pricing {
  padding: 9.6rem 0;
}

.plan-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}

.pricing-plan {
  border-radius: 11px;
  width: 75%;
}

.pricing-plan--starter {
  position: relative;
  justify-self: end;
  padding: 4.6rem;
}

.pricing-plan--starter::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../assets/background-por.jpg");
  background-position: center;
  background-size: cover;
  filter: blur(5px); /* Adjust the blur radius as needed */
  z-index: -1;
}

.pricing-plan--complete {
  background-image: url("../assets/background-por-2.jpg");
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}

.pricing-plan--complete::after {
  content: "230k what?";
  position: absolute;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  top: 6%;
  right: -18%;
  color: #333;
  background-color: #ffd43b;
  padding: 0.8rem 8rem;
  transform: rotate(45deg);
  text-decoration: line-through;
  text-decoration-color: red;
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #f5f5f5;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #f5f5f5;
}

.plan-sign-up {
  text-align: center;
  margin-top: 4.8rem;
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

.wrap-box {
  padding: 0 4.8rem;
}

.saved-cars-box {
  max-width: 170rem;
  background-color: rgb(211, 225, 255);
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.4rem;
}

.saved-cars-box p {
  font-size: 1.8rem;
  font-weight: 100;
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.circle-outline {
  font-size: 2.4rem;
}

.signin-btn {
  font-size: 1.8rem;
  padding: 1.2rem 2.4rem;
  border: none;
  background-color: black;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  white-space: nowrap;
}

.browse-box {
  background-color: #ededed;
  max-width: 170rem;
  margin: 0 auto;
  margin-top: 3.2rem;
  padding: 15rem 4.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2.4rem;
  border-radius: 11px;
}

.browse-box h1 {
  font-size: 3.2rem;
}

.browse-box p {
  font-size: 1.8rem;
}

.browse-btn {
  font-size: 1.8rem;
  padding: 1.2rem 2.4rem;
  border: none;
  background-color: black;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  white-space: nowrap;
}

.nice-to-see-you-section {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../assets/porscheBackground4.jpg");
  background-position: center;
  background-size: cover;
}

.form-box {
  position: absolute;
  top: 0;
  left: 10%;
  background-color: #fff;
  max-width: 42rem;
  border: 2px solid black;
  padding: 9.6rem 3.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: none;
  gap: 1rem;
}

.form-box h1 {
  margin: 2.4rem 0;
  font-size: 2.4rem;
}

.form-box img {
  width: 70%;
  align-self: center;
}

.form-box form label {
  display: block;
  font-size: 1.6rem;
}

.form-box form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}

.form-box form p {
  font-size: 1.2rem;
}

.form-box form p a {
  color: #333;
}

.form-box form p a:hover {
  text-decoration: none;
}

.form-box form div input {
  width: 100%;
  font-size: 1.8rem;
  height: 5rem;
  padding: 0.4rem 0.8rem;
  margin-top: 0.8rem;
  border: 1.5px solid black;
  border-radius: 5px;
}

.forgot-box {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2.4rem;
  margin-bottom: 2.4rem;
  border-bottom: 1px solid grey;
  padding: 2.4rem 0;
}

.forgot-box a {
  font-size: 1.3rem;
  color: grey;
}

.forgot-box a:hover {
  text-decoration: none;
}

.forgot-box button {
  font-size: 1.8rem;
  padding: 1.2rem 2.4rem;
  border: none;
  background-color: black;
  color: #fff;
  cursor: pointer;
}

/*******************************************/
/*  Footer
/*******************************************/

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.grid-footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.lg {
  text-align: center;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

.section__title {
  max-width: 120rem;
  margin: auto;
  padding-left: 12rem;
}

.section__description {
  font-size: 2.4rem;
  color: #cf711f;
  margin-bottom: 1rem;
}

.section__header {
  font-size: 3rem;
  color: #333;
}

.slider {
  max-width: 120rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;

  /* IN THE END */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;

  display: flex;
  align-items: center;
  justify-content: center;

  /* THIS creates the animation! */
  transition: transform 1s;
}

.slide > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;

  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  background-color: #888;
  opacity: 1;
}

/* TESTIMONIALS */
.testimonial {
  width: 65%;
  position: relative;
}

.testimonial::before {
  content: "\201C";
  position: absolute;
  top: -5.7rem;
  left: -6.8rem;
  line-height: 1;
  font-size: 20rem;
  font-family: inherit;
  color: var(--color-primary);
  z-index: -1;
}

.testimonial__header {
  color: #add8e6;
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.testimonial__text {
  font-size: 1.7rem;
  margin-bottom: 3.5rem;
  color: #666;
}

.testimonial__author {
  margin-left: 3rem;
  font-style: normal;

  display: grid;
  grid-template-columns: 6.5rem 1fr;
  column-gap: 2rem;
}

.testimonial__photo {
  grid-row: 1 / span 2;
  width: 6.5rem;
  border-radius: 50%;
}

.testimonial__name {
  font-size: 1.7rem;
  font-weight: 500;
  align-self: end;
  margin: 0;
}

.testimonial__location {
  font-size: 1.5rem;
}

.section__title--testimonials {
  margin-bottom: 4rem;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color: #f3f3f3;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.modal__header {
  font-size: 3.25rem;
  margin-bottom: 4.5rem;
  line-height: 1.5;
}

.modal__form {
  margin: 0 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 2.5rem;
}

.modal__form label {
  font-size: 1.7rem;
  font-weight: 500;
}

.modal__form input {
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.modal__form button {
  grid-column: 1 / span 2;
  justify-self: center;
  margin-top: 1rem;
}

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
}

/* Choose Your Porsche */

.choose {
  text-align: center;
  margin-bottom: 9.6rem;
}

.choose-porsche {
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: 4.8rem;
}

.choose-label {
  display: block;
  font-size: 1.4rem;
}

.choose-select {
  font-size: 2rem;
  margin-top: 0.5rem;
  border-radius: 11px;
  padding: 0.8rem;
  border: none;
  background-color: #fdf2e9;
}

.options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.selected-porsche {
  margin-top: 3.2rem;
}

.porsche-img {
  width: 50%;
}

/* CSS */
.choose-show {
  appearance: none;
  backface-visibility: hidden;
  background-color: #2f80ed;
  border-radius: 1rem;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 1.4rem 3rem;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.choose-show:hover {
  background-color: #1366d6;
  box-shadow: rgba(0, 0, 0, 0.05) 0 5px 30px, rgba(0, 0, 0, 0.05) 0 1px 4px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: 0.35s;
}

.choose-show:hover:after {
  opacity: 0.5;
}

.choose-show:active {
  box-shadow: rgba(0, 0, 0, 0.1) 0 3px 6px 0, rgba(0, 0, 0, 0.1) 0 0 10px 0,
    rgba(0, 0, 0, 0.1) 0 1px 4px -1px;
  transform: translateY(2px);
  transition-duration: 0.35s;
}

.choose-show:active:after {
  opacity: 1;
}

/* CXRILI */
.table-wrapper {
  margin: 10px 70px 70px;
  display: none;
  box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

.fl-table {
  border-radius: 5px;
  font-size: 2rem;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td,
.fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 1.5rem;
}

.fl-table thead th {
  color: #ffffff;
  background: #4fc3a1;
}

.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

.fl-table tr:nth-child(even) {
  background: #f8f8f8;
}

/* overview section */
.section-dealer {
  padding: 9.6rem 0rem;
}

.dealer-container {
  border-radius: 11px;
  max-width: 150rem;
  height: 50vh;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.owner-photo {
  width: 100%;
}

.dealer-box {
  background-color: #333;
  padding: 0 4.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2rem;
}

.dealer-box h1 {
  font-size: 3.2rem;
  color: #fffff7;
}

.dealer-box p {
  font-size: 1.3rem;
  color: #fffff7;
  line-height: 1.6;
}

.dealer-box button {
  font-size: 1.4rem;
  color: black;
  padding: 1.6rem 3.2rem;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.owner-photo-box {
  background-image: url("../assets/porsche-owner.jpg");
  background-size: cover;
  background-position: center;
}

.dealer-box button:hover {
  background-color: #d3d3d3;
}
